*{
	margin: 0;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
html{
	font-size: 100%;/*=16px*/
}
/*チェックボックスは非表示*/
.nav-unshown {
  display:none;
}
.slider{
	height: 380px;
    width: 76%;
	position: relative;
	overflow: hidden;
	margin-left: 24%;
	margin-top: -25px;
}
.slider img{
	animation: 25s infinite;
	width: 100%;
	opacity: 0;
	position: absolute;
}
@keyframes show {
    0% {opacity:0}
    3% {opacity:1}
    15%{transform: translateY(-100px);}
    18% {opacity:1}
    20% {opacity:0}
}
.slider img:nth-of-type(1){
	animation-name: show;

}
.slider img:nth-of-type(2){
	animation-name: show;
	animation-delay: 5s;
}
.slider img:nth-of-type(3){
	animation-name: show;
	animation-delay: 10s;
}
.slider img:nth-of-type(4){
	animation-name: show;
	animation-delay: 15s;
}
.slider img:nth-of-type(5){
	animation-name: show;
	animation-delay: 20s;
}
#menu{
    position: relative;
    z-index: 1;
    background: url(../image/81820.jpg) left top no-repeat;
    position: fixed;
    width: 24%;
    height: 380px;
}
#menu h1 {
	font-size: 1.6em;
	writing-mode: vertical-rl;
    margin:20px auto;
    position: relative;
    padding: 20px;
}
a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}
nav{
	writing-mode: vertical-rl;
	margin:-15px auto;

}
nav ul{
    list-style-type: none;
    padding: 5px;
}
nav ul li{
	margin: 5px 10px;
}
main {
    margin-left: 24%;
    background: url(../image/54109.jpg) ;
    background-size: cover;
    height: auto;
}
.wrapper{    /*メニュー*/
	margin: 10px 10px;
}
h2{
	text-align: center;
	font-size: 1.4em;
}
.paragraph{
	margin: 10px auto 30px;
}
.menu{
	display: flex;
	z-index: 999;
}
.course2100{
	background-color:#415e6c2e;
	writing-mode: vertical-rl;
	width: 40%;
}
.course1600{
	background-color: #ffc0c06e;
	writing-mode: vertical-rl;
	width: 40%;
}
h3{
	background-color: #2a405b;
	font-size: 2em;
	color: white;
}
.contents li{
	margin: 0 10px 0 5px;
	font-size: 1.2em;
}
.photo{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
ol.photo img{
	width: 100%;
}
.photo > *{
 	min-width: 30%;
 	flex-basis: 25%;
}
footer{
	bottom: 0;
	width: 100%;
	padding: 10px 0px;
	display: flex;
	font-size: 12px;
}
.logo {
	width: 	24%;
}
.logo img{
	width: 100%;
}
.shop{
	margin: 0 2%;
	width: 40%;
	font-size: 1.4em;
}
.map{
	width: 300px;
	height: 100px;
}
iframe{
	width: 100%;
	height: 100%;
	right: 0;
}